body {
    background-color: #0f111a;
    color: #c3cee3;
    font-family: 'Baloo Tamma 2', cursive, Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

div.container {
    margin-left: auto;
    margin-right: auto;
    width: min(90vw, 70em);
}

span.name {
    font-size: 36pt;
}

header {
    width: 100%;
    border-bottom: 1px solid #82aaff;
    display: inline-block;
    text-align: center;
}

footer {
    border-top: 1px solid #82aaff;
    padding-top: 0.5em;
    display: inline-block;
    width: 100%;
}

img.portrait {
    border-radius: 50%;
    max-width: min(100px, 10vw);
    vertical-align: middle;
}

@media screen and (max-width: 800px) {
    img.portrait {
        max-width: 20vw;
    }
}

div.menu {
    text-align: center;
}

a:link, a:visited {
    color: inherit;
}

a:hover {
    color: #88c0d0;
}

strong {
    padding-left: 0.1em;
    padding-right: 0.1em;
}

ul.subsublist {
    list-style-type: circle;
}

ul.main-list {
    list-style-type: none;
}

ul.sublist {
    list-style-type: disc;
}

span.pub-venue {
    font-style: italic;
}

h3 {
    margin-bottom: 0;
}

span.addr {
    margin-left: 1em;
    font-family: monospace;
    font-size: 10pt;
}